#header {
  background-color: rgb(41, 132, 173);
  font-size: 2rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* body{
  background-image: url(./Images/.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  flex-grow: 1;
} */